/* FONT - RINTIX / LEAGUE SPARTAN */
@font-face {font-family: Rintix; src: url('font/Rintix.ttf');}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{  

    /* COLORI */
    --main-color: #282c34;
    --text-color: #FFFFFF;
    --second-color: #BD4856;
    --third-color: #141214;

    /* COLORE TESTO*/
    color:var(--text-color) !important;

    /* FONT DEFAULT*/
    font-family: Rintix;

}

.font-merriWeather {
    font-family: 'Merriweather', serif !important;
}

/* SEZIONI */
.home {
    background-image: url('img/bg.jpg');
    background-size: cover;
    height:100vh;
}

.projects {
    background-color: var(--text-color) !important;
}

.skills {
    background-color: var(--main-color) !important;

}

.about {
    background-color: var(--text-color) !important;
}

.fixaos {
    overflow-x: hidden;
    overflow-y: hidden;
}

/** NAVBAR **/
.navbar-brand img {
    width: 10rem;
    margin-top: 1.5rem;
}

/** SLOGAN **/
.slogan {
    margin-top: 15rem !important;
    font-weight: 400 !important;
    border-radius: 2vh;
}

.slogan2 {
    font-size: 1.5rem;
    color: var(--second-color) !important;
}

.slogan3 {
    font-size: 1.3rem;
    color: var(--text-color) !important;
}

.btn-outline-danger {
    border: 2px solid var(--second-color) !important;
}

.btn-outline-danger:hover {
    background-color: var(--second-color) !important;
}

.sloganpunk {
    color: var(--second-color) !important;
}

/** SOCIAL **/
.social {
    margin-top: 8vh !important;
}

.social a{
    display: block;
    margin-top: 2vh !important;
}

.social>a>svg {
    font-size: 3rem;
    transition: transform .2s;
}

.social>a>svg:hover {
    transform: scale(1.2);
}

/** SCROLL DOWN **/

.scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scroll a:hover {
    opacity: .5;
}

.scroll a {
    padding-top: 4.5rem;
}

.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/** SEZIONE LAVORO **/  
.lavoro h5{
    color: var(--second-color) !important;
    font-family: 'Merriweather', serif !important;
}

.lavoro p {
    color: var(--main-color) !important;
    font-family: 'Merriweather', serif !important;
}

/** SEZIONE PROGETTI **/
.projects h1 {
    color: var(--main-color) !important;
    text-align: right !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.txt1 {
    color: var(--main-color) !important;
    font-style: italic;
}

figure>img {
    cursor: pointer;
    transition: transform .2s;
    width: 18rem;
}

/** SEZIONE SKILLS **/

.skills h1 {
    color: var(--text-color) !important;
    text-align: left !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.skills2>li>h3>img {
    font-style: italic !important;
    width:5rem;
    height:5rem;
}

.skills2 li {
    list-style-type: none; 
    margin-bottom:1rem !important;
}

.bar{
    background: var(--second-color) !important;
    display: block;
    height: 8px;
    width:350px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--second-color) !important;
}

.bar span{
    height: 8px;
    float: left;
    background: var(--text-color) !important;				
}

/** SEZIONE ABOUT ME **/
.about h1 {
    color: var(--main-color) !important;
    text-align: right !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.about p {
    font-weight: 400 !important;
    font-style: italic;
    font-family: 'Merriweather', serif !important;
    background-color: var(--main-color) !important;
    border-radius: 2vh;
    text-align: center;
    padding: 2rem !important;
}

ul>li {
    margin-top: 1rem !important;
    color: var(--second-color) !important;
}

/** FOOTER **/

footer {
    background-color: var(--third-color)!important;
}

footer p{
    margin: 2rem 0 0 0;
    font-family: 'Merriweather', serif !important;
}

.pfooter {
    display: block;
    margin: 0 auto;
}

.pfooter>a>svg {
    margin: 0 2rem 0 0;
    width:3rem;
    font-size: 3rem;
    transition: transform .2s;
}

.pfooter>a>svg:hover {
    transform: scale(1.2);
}

/** DIVIDER **/
.custom-shape-divider-top-1658328146 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658328146 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1658328146 .shape-fill {
    fill: var(--text-color) !important;
}

.divider-58 {
    border-top: none !important;
    fill: var(--main-color) !important;
}


/*** ANIMAZIONI ***/

/** SEZIONE NAVBAR **/
.nav-link:hover {
    text-decoration: underline solid var(--second-color) 20% !important ;
}

/** SEZIONE SOCIAL **/
.social>a>img:hover {
    transform: scale(1.2);
}

/** SEZIONE SLOGAN **/
.text-slogan {
    text-transform: uppercase;
    background-image: linear-gradient(
      -150deg,
      var(--main-color) 0%,
      var(--main-color)29%,
      var(--second-color) 67%,
      var(--second-color) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/** SEZIONE PROJECT **/


figure>img:hover {
    transform: scale(1.1);
}

.projects>.container>.row>h1, .about>.container>.row>h1, .skills>.container>.row>h1 {
    text-transform: uppercase; 
    background-image: linear-gradient(
      -225deg,
      var(--main-color) 0%,
      var(--main-color)29%,
      var(--text-color) 67%,
      var(--text-color) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


/** SEZIONE SKILLS **/

.skills>.container>.row>h1 {
    background-image: linear-gradient(
      -225deg,
      var(--text-color) 0%,
      var(--main-color)29%,
      var(--main-color) 67%,
      var(--main-color) 100%
    ) !important; 
}

/* HTML */
.shtml{
    width: 100%;
    animation: shtml 4s;
}

@keyframes shtml {
    0% {
        width:0%;
    }
    100%{
        width: 100%;
    }
}

/* CSS */
.sjs {
    width: 70%;
    animation: sjs 4s;
}

@keyframes sjs {
    0% {
        width:0%;
    }
    100%{
        width: 70%;
    }
}

/* REACT*/
.sreactpic {
    width: 50%;
    animation: sreactpic 4s;
}

@keyframes sreactpic {
    0% {
        width:0%;
    }
    100%{
        width: 50%;
    }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

    .social, .navbar-nav {
        display: none !important;
    }

    .navbar-brand {
        display: block !important;
        margin: 0 auto !important;
    }

    .slogan {
        margin-top: 8rem !important;
    }

}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {

    .social, .navbar-nav {
        display:none !important;
    }

}
 
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {

    .navbar-nav {
        display:none !important;
    }

}
 
/* Big screen devices (889px and above) */
@media only screen and (max-width: 912px) {

    .navbar-nav {
        display:none !important;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {


}