/* FONT - RINTIX / LEAGUE SPARTAN */
@font-face {font-family: Rintix; src: url('font/Rintix.ttf');}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{  

    /* COLORI */
    --main-color: #282c34;
    --text-color: #FFFFFF;
    --second-color: #BD4856;
    --third-color: #141214;

    /* font base*/
    font-family: 'Merriweather', serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: RINTIX !important;
}

.font-rintix {
    font-family: RINTIX !important;
}

/* SEZIONI */
.home {
    background-image: url('img/bg.jpg');
    background-size: cover;
    height:100vh;
}

.skills {
    background-color: var(--main-color) !important;
}

.fixaos {
    overflow-x: hidden;
    overflow-y: hidden;
}

/** NAVBAR **/
.navbar-brand img {
    width: 10rem;
    margin-top: 1.5rem;
}

.navbar-toggler {
    border: 1px solid var(--text-color) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/** SLOGAN **/
.slogan {
    margin-top: 20%;
    font-weight: 400 !important;
    border-radius: 2vh;
}

.slogan2 {
    font-size: 1.5rem;
    color: var(--second-color) !important;
}

.slogan3 {
    font-size: 1.3rem;
    color: var(--text-color) !important;
}

.btn-outline-danger {
    border: 2px solid var(--second-color) !important;
}

.btn-outline-danger:hover {
    background-color: var(--second-color) !important;
}

.sloganpunk {
    color: var(--second-color) !important;
}

/** SOCIAL **/
.social {
    margin-top: 8vh !important;
}

.social a{
    display: block;
    margin-top: 2vh !important;
    color: var(--text-color);
}

.social>a>svg {
    font-size: 3rem;
    transition: transform .2s;
}

.social>a>svg:hover {
    transform: scale(1.2);
    color: var(--text-color);
}

/** SCROLL DOWN **/

.scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scroll a:hover {
    opacity: .5;
}

.scroll a {
    padding-top: 4.5rem;
}

.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

/* COOKIE DISCLAIMER */
.cookie-disclaimer {
    z-index: 10;
    position: fixed;
    bottom: 50px;
    width: 35%;
    right: 20px;
    font-size: 12px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 10, 0.5);
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/** SEZIONE LAVORO **/  
.lavoro h5{
    color: var(--second-color) !important;
    font-family: 'Merriweather', serif !important;
}

.logolavoro {
    width: 400px;
}

/** SEZIONE PROGETTI **/
.txt1 {
    color: var(--main-color) !important;
    font-style: italic;
}

figure>img {
    cursor: pointer;
    transition: transform .2s;
    width: 13rem;
}

/** SEZIONE SKILLS **/
.skills2>ul>li>h3>img {
    width:3.2rem;
    height:auto;
}

.skills2 li {
    list-style-type: none; 
    margin-bottom:1rem !important;
}

.bar{
    background: var(--second-color) !important;
    display: block;
    height: 8px;
    max-width:350px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--second-color) !important;
}

.bar span{
    height: 8px;
    float: left;
    background: var(--text-color) !important;				
}

/** SEZIONE ABOUT ME **/
.about p {
    font-weight: 400 !important;
    font-style: italic;
    color: var(--main-color) !important;
    padding: 2rem !important;
}

.about em {
    font-family: 'Merriweather', serif !important;
    color: var(--first-color) !important;
    background-color: yellow !important;
}

.about img {
    height: 22rem;
}

ul>li {
    margin-top: 1rem !important;
    color: var(--second-color) !important;
}

/** CONTATTI **/
label {
    color: var(--main-color) !important;
    font-family: 'Merriweather', serif !important;
}

.form58 {
    background-color: #F2F6F2 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.10rem var(--main-color) !important;
}

.form-check-input:checked {
    box-shadow: 0 0 0 0.10rem var(--main-color) !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.contatti>input {
    color: var(--main-color) !important;
}

/** FOOTER **/

footer {
    background-color: var(--third-color)!important;
}

footer ul li {
    list-style-type: none !important;
}

footer p{
    margin: 2rem 0 0 0;
    font-family: 'Merriweather', serif !important;
}

.pfooter {
    display: block;
    margin: 0 auto;
}

.pfooter>a>svg {
    margin: 0 2rem 0 0;
    width:3rem;
    font-size: 3rem;
    transition: transform .2s;
}

.pfooter>a>svg:hover {
    transform: scale(1.2);
}

footer p a:hover {
    color: var(--second-color) !important;
}

/** DIVIDER **/
.custom-shape-divider-top-1658328146 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658328146 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1658328146 .shape-fill {
    fill: var(--text-color) !important;
}

.divider-58 {
    border-top: none !important;
    fill: var(--main-color) !important;
}


/*** ANIMAZIONI ***/

/** SEZIONE NAVBAR **/
.nav-link:hover {
    text-decoration: underline solid var(--second-color) 20% !important ;
}

/** SEZIONE SOCIAL **/
.social>a>img:hover {
    transform: scale(1.2);
}

/** SEZIONE SLOGAN **/
.text-slogan {
    text-transform: uppercase;
    background-image: linear-gradient(
      -150deg,
      var(--main-color) 0%,
      var(--main-color)29%,
      var(--second-color) 67%,
      var(--second-color) 100%
    );
    background-size: auto auto;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    display: inline-block;
}

/** SEZIONE PROJECT **/

figure>img:hover {
    transform: scale(1.1);
}

.back {
    cursor: pointer;
}

.back:hover {
    background-color: var(--second-color) !important;
}

.littleZoom:hover {
    transition: transform .2s ease-in-out;
    transform: scale(1.3);
}

/* HTML */
.shtml{
    width: 100%;
    animation: shtml 4s;
}

@keyframes shtml {
    0% {
        width:0%;
    }
    100%{
        width: 100%;
    }
}


/* PRIVACY POLICY / COOKIE POLICY*/

.p58 {
    text-transform: lowercase !important;
    font-family: 'Merriweather', serif !important;
}

/* CSS */
.sjs {
    width: 70%;
    animation: sjs 4s;
}

@keyframes sjs {
    0% {
        width:0%;
    }
    100%{
        width: 70%;
    }
}

/* REACT*/
.sreactpic {
    width: 50%;
    animation: sreactpic 4s;
}

@keyframes sreactpic {
    0% {
        width:0%;
    }
    100%{
        width: 50%;
    }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1025px) {

    .cookie-disclaimer {
        width: 35% !important;
    }

    .logolavoro {
        width: 350px;
    }

}

/* custom*/
@media only screen and (max-width: 1024px) {

    .home {
        height:100%;
        padding-bottom: 50px !important;
    }

    .scroll {
        display: none;
    }

    .navbar-nav {
        display:none !important;
    }

    .cookie-disclaimer {
        width: 35%  !important;
    }

}


/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {

    .scroll {
        display: none;
    }

    .navbar-nav {
        display:none !important;
    }

    .cookie-disclaimer {
        width: 50% !important ;
    }

}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 600px) {

    .home {
        height:100%;
        padding-bottom: 20px !important;
    }

    .scroll {
        display: none;
    }

    .social {
        display:none !important;
    }

    .cookie-disclaimer {
        width: 100% !important ;
    }

}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

    .home {
        height:100%;
        padding-bottom: 50px !important;
    }

    .scroll {
        display: none;
    }

    .social{
        display: none !important;
    }

    .navbar-brand {
        display: block !important;
        margin: 0 auto !important;
    }

    .slogan {
        margin-top: 0px;
    }

    .cookie-disclaimer {
        width: 100% !important ;
        right: initial;
        left: initial;
        bottom: 0 !important;
    }

    .logolavoro {
        width: 300px;
    }

}