/* FONT - RINTIX / LEAGUE SPARTAN */
@font-face {font-family: Rintix; src: url('font/Rintix.ttf');}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{  

    /* COLORI */
    --main-color: #282c34;
    --text-color: #FFFFFF;
    --second-color: #BD4856;
    --third-color: #141214;

    /* COLORE TESTO*/
    color:var(--text-color) !important;

    /* FONT DEFAULT*/
    font-family: Rintix;

}

/* SEZIONI */
.home {
    background-color: var(--main-color) !important;
    height:100vh;
}

.projects {
    background-color: var(--text-color) !important;
}

.skills {
    background-color: var(--main-color) !important;

}

.about {
    background-color: var(--text-color) !important;
}

/** NAVBAR **/

.navbar-nav {
    margin-top:2.5vh !important;
    margin-right:5vh !important;
}

.slogan {
    margin-top: 15rem !important;
    font-weight: 400 !important;
    font-style: italic;
    font-family: 'Merriweather', serif !important;
    background-color: var(--second-color) !important;
    border-radius: 2vh;
    text-align: center;
}

.social {
    margin-top: 8vh !important;
}

.social a{
    display: block;
    margin-top: 2vh !important;
}


/** SEZIONE PROGETTI **/
.projects h1 {
    color: var(--main-color) !important;
    text-align: right !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.txt1 {
    color: var(--main-color) !important;
    font-style: italic;
}


/** SEZIONE SKILLS **/

.skills h1 {
    color: var(--text-color) !important;
    text-align: left !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.skills2 h3 {
    font-style: italic !important;
}

.skills2 li {
    list-style-type: none; 
    margin-bottom:1rem !important;
}

.bar{
    background: var(--second-color) !important;
    display: block;
    height: 8px;
    width:350px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px var(--second-color) !important;
}

.bar span{
    height: 8px;
    float: left;
    background: var(--text-color) !important;				
}

.velocita{
    width:90%;
    animation: velocita 4s;
}

@keyframes velocita {
    0% {
        width:0%;
    }
    100%{
        width: 90%;
    }
}

/** SEZIONE ABOUT ME **/
.about h1 {
    color: var(--main-color) !important;
    text-align: right !important;
    margin-top: 5vh;
    font-size: 8vh;
}

.about p {
    font-weight: 400 !important;
    font-style: italic;
    font-family: 'Merriweather', serif !important;
    background-color: var(--second-color) !important;
    border-radius: 2vh;
    text-align: center;
    padding: 2rem !important;
}

/** FOOTER **/

footer {
    background-color: var(--third-color)!important;
}

footer p{
    font-family: 'Merriweather', serif !important;
}





/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {

}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {

}